<div class="p-3 text-center">
<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <li><%= f.association :movie %></li>
  <li><%= f.input :comment %></li>
  <%= f.button :submit, class: 'btn btn-danger' %>
<% end %>
</div>
